!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Rubymine Projects'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tweetwall'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.full-screen
    #screen= yield
    .logos
      %img.bal{src:'http://bal.bde-insa-lyon.fr/img/logo.png'}
      %img.bde.pull-right{src: 'https://raw.githubusercontent.com/BdEINSALyon/logos-bde/master/Logo%20BdE%20blanc.png'}
