!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Rubymine Projects'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tweetwall'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{src:'//twemoji.maxcdn.com/2/twemoji.min.js'}
  %body.full-screen
    #screen
      #title
        %img{src:asset_url('twitter.png')}
        %span #balinsalyon
      = yield
    .logos
      %img{src:asset_url('bal.png')}
